# Virtual Environment
yolo-env/

# Python
__pycache__/
*.py[cod]

# YOLO training output
runs/

# Model weights
*.onnx

# Dataset
datasets/
*.zip

# Cache
*.cache

# IDE
.vscode/
.idea/

# OS
.env
replace.txt
Thumbs.db
.DS_Store.env
replace.txt
