# ==========================================
# Environment Variables & Secrets
# ==========================================
.env
.env.*
!.env.example
replace.txt


# ==========================================
# Virtual Environments
# ==========================================
env/
venv/
.venv/
yolo-env/


# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class


# ==========================================
# Python Cache / Tool Cache
# ==========================================
*.cache


# ==========================================
# YOLO Training Output
# ==========================================
runs/


# ==========================================
# Datasets
# ==========================================
datasets/
*.zip


# ==========================================
# Model Exports
# ==========================================
*.onnx
*.engine
*.bin

# Optional: uncomment if trained model weights
# should NOT be uploaded to GitHub
# models/**/*.pt


# ==========================================
# IDE
# ==========================================
.vscode/
.idea/


# ==========================================
# OS Files
# ==========================================
Thumbs.db
.DS_Store


# ==========================================
# Logs
# ==========================================
*.log